.hero-budget {
    background-color: rgba(239, 239, 239, 1);
}


.hero-budget-title {
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: rgba(31, 47, 80, 1) !important;
    line-height: 1.2 !important;
    margin-bottom: 1.5rem !important;
}


.hero-budget-subtitle {
    font-size: 1.25rem;
    color: rgba(98, 109, 122, 1);
    margin-bottom: 2rem;
}


.hero-budget-image {
    max-width: 1000px;
}

@media (min-width: 768px) {
    .hero-budget-title {
        font-size: 3rem;
    }
}
